

<section id="blog" class="blog">
    <style type="text/css">

        .style1 {
            margin-bottom: 175px;
            text-align: left;
            list-style-position: outside;
        }

        .style2 {
            margin-bottom: 65px;
            text-align: left;
            list-style-position: outside;
        }

        .style3 {
            margin-bottom: 195px;
            text-align: left;
            list-style-position: outside;
        }

        .style4 {
            text-align: left;
            list-style-position: outside;
        }

        .btnbuy {
            -webkit-border-radius: 28;
            -moz-border-radius: 28;
            border-radius: 28px;
            font-family: Georgia;
            color: #ffffff;
            font-size: 16px;
            background: #5e9a28;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
        }

            .btnbuy:hover {
                background: #3cb0fd;
                background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
                background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
                background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
                background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
                background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
                text-decoration: none;
            }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div class="main_blog_area text-center sections">
                    <div class="head_title">
                        <h2>SAĞLIKLI DİYET PAKETLERİMİZ</h2>
                        <div class="separator"></div>
                        <p>
                            Kişiye özel dengeli beslenme planı hazırlayan Diyetisyenimiz Binevş ELGÜN, sağlıklı beslenmeyi öğretmeye veya herhangi bir sağlık sorunuyla gelen kişilerde beslenme davranış değişikliği sağlamaya çalışır.
                            Bunun için ilk muayenede bireylerin beslenme alışkanlıkları, yaşam standardları, uyku düzeni gibi konularda ayrıntılı olarak incelenir.<br />Diyet paketlerimiz ile sağlıklı ve dengeli bir şekilde kilo vermenizi sağlıyoruz.
                        </p>
                    </div>
                    <div class="main_blog_content">
                        <ul class="main_blog">
                            <li class="single_blog_content">
                                <h4>Fast Paket</h4>
                                <h6><i class="fa fa-apple"></i> Hızlı Kilo Verdiren Diyet Paketi</h6>
                                <ul class="style1">
                                    <li>-Diyetisyen Takibi</li>
                                    <li>-Kişiye özel diyet</li>
                                    <li>-21 günlük kişiye özel diyet takibi</li>
                                    <li>-Ortalama 5 kg kilo kaybı hedefi</li>
                                    <li>-Kan tahlili, hastalık, ilaç kullanımı vb. durumların değerlendirilmesi</li>
                                    <li>-5 günde bir mail yoluyla soruları cevaplama</li>
                                </ul>

                                <div class="separator3"></div>
                                <p class="blog_love"><i class="fa fa-heart-o"></i> 12</p>
                                <button class="btnbuy">Hemen Başvur</button>
                            </li>
                            <li class="single_blog_content">
                                <h4>Özel Paket</h4>
                                <h6><i class="fa fa-tachometer"></i> Düzenli Diyet Yaptıran Paket</h6>
                                <ul class="style2">
                                    <li>-Diyetisyen Takibi</li>
                                    <li>-Kişiye özel diyet takibi</li>
                                    <li>-10 günde bir genel kontrol ve diyet değişiklikleri</li>
                                    <li>-Haftada bir telefonda diyetisyenimizle görüşme</li>
                                    <li>-WhatsApp ile iletişim imkânı(09:00 – 18:00 saatleri arası)</li>
                                    <li>-Mail yoluyla soruları cevaplama</li>
                                    <li>-Kan tahlili, hastalık, ilaç kullanımı vb. durumların değerlendirilmesi</li>
                                </ul>
                                <div class="separator3"></div>
                                <p class="blog_love"><i class="fa fa-heart-o"></i> 12</p>
                                <button class="btnbuy">Hemen Başvur</button>
                            </li>
                            <li class="single_blog_content">
                                <h4>Kararlı Paket</h4>
                                <h6><i class="fa fa-diamond"></i> Sağlıklı ve Dengeli Beslenen Diyet Paketi</h6>
                                <ul class="style4">
                                    <li>-Diyetisyen Takibi</li>
                                    <li>-Kişiye özel diyet takibi</li>
                                    <li>-Her hafta genel kontrol ve diyet değişiklikleri</li>
                                    <li>-Üç günder bir telefonda diyetisyenimizle görüşme</li>
                                    <li>-7/24 WhatsApp ile iletişim imkânı</li>
                                    <li>-Mail yoluyla soruları cevaplama</li>
                                    <li>-Kan tahlili, hastalık, ilaç kullanımı vb. durumların değerlendirilmesi</li>
                                    <li>-Size özel yemek tarifleri, pratik tarifler</li>
                                    <li>-Diyetiniz süresince yazılı envanterler</li>
                                </ul>
                                <div class="separator3"></div>
                                <p class="blog_love"><i class="fa fa-heart-o"></i> 12</p>
                                <button class="btnbuy">Hemen Başvur</button>

                            </li>
                            <li class="single_blog_content">
                                <h4>Eko Paket</h4>
                                <h6><i class="fa fa-heart-o"></i>Uygun Fiyatlı<br /> Diyet Paketi</h6>
                                <ul class="style3">
                                    <li>-Diyetisyen Takibi</li>
                                    <li>-Kişiye özel diyet</li>
                                    <li>-10 günde bir mail yoluyla soruları cevaplama</li>
                                    <li>-Kan tahlili, hastalık, ilaç kullanımı vb. durumların değerlendirilmesi</li>
                                    <li>-Diyet Sonunda online kontrol</li>
                                </ul>
                                <div class="separator3"></div>
                                <p class="blog_love"><i class="fa fa-heart-o"></i> 12</p>
                                <button class="btnbuy">Hemen Başvur</button>
                            </li>
                        </ul>
                    </div>

                    <div class="blog_btn">
                        <a href="@Url.Action("CallCustomers", "Home")" class="btn btn-primary">BİZ SİZİ ARAYALIM</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
